.conteiner__rab__shtab {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 140px;
}

.h__shtab {
    width: 1150px;
    font-size: 28px;
    font-weight: bold;
}
.p__shtab {
    width: 1150px;
    font-size: 17px;
    font-weight: normal;
}
.mail {
    cursor: pointer;
    text-decoration: none;
}

.branch {
    a {
        text-decoration: none;
    }
}