.conteiner__branch {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    .branch__all {
        display: flex;
        justify-content: flex-start;
        max-width: 1180px;
        max-height: 1000px;
        overflow: hidden;
        .branch {
            width: 260px;
            height: 420px;
            border-radius: 20px;
            border: 1px solid rgb(163, 163, 163);
            margin: 10px 19px;
            transition: 0.15s linear;
            &:hover {
                box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
                border: 1px solid rgba(131, 131, 131, 0.199);
                cursor: pointer;
            }
            .branch__img {
                width: 259px;
                height: 230px;
                border-top-left-radius: 19px;
                border-top-right-radius: 19px;
            }
            .branch_elem {
                padding-left: 20px;
                margin-top: 20px;
            }
            .branch__button {
                display: flex;
                flex-direction: column;
                align-content: center;
                flex-wrap: wrap;
                margin-top: 20px;
                .button {
                    display: inline-flex;
                    font-weight: normal;
                    text-decoration: none;
                    margin-top: 5px;
                    font-size: 15px;
                    color: white;
                    padding: 12px 54px;
                    border-radius: 6px;
                    background:  #5099dd;
                    transition: .1s linear;
                    cursor: pointer;
                    &:hover {
                        background: #2779c7;
                    }
                }
            }
        }
    }
}


.branch__button__slider {
    display: flex;
    justify-content: center;
    max-width: 1150px auto;
    .arrow_left_circle {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-left: 490px;
        margin-top: 65px;
        width: 38px;
        height: 38px;
        fill:rgb(201, 201, 201);
    }
    .arrow_right_circle {
        display: flex;
        justify-content: center;
        position: absolute;
        margin-left: 540px;
        margin-top: 65px;
        width: 38x;
        height: 38px;
        fill:rgb(104, 104, 104);
        &:hover {
            fill:#2779c7;
            cursor: pointer;
        }
    }
}



.branch__h {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    max-width: 1150px auto;
    align-items: center;
    h3 {
        display: flex;
        justify-content: center; 
        margin-right: 780px;
    }
}