.conteiner__rab__shtab {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 140px;
}

.shtab__doctor {
    margin-top: 30px;
    .background__shtab {
        max-width: 1150px;
        height: 300px;
        background: #F7F8FA;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .name__doc {
            display: flex;
            justify-content: space-around;
            p {
                margin-top: 80px;
                font-size: 16px;
            }
        }
        .spec__doc {
            display: flex;
            justify-content: space-around;
            p {
                position: absolute;
                top: 0;
                font-size: 16px;
                margin-top: 1310px;
            }
        }
        .img__shtab {
            width: 220px;
            height: 220px;
            background: rgb(160, 168, 187);
            border-radius: 20px;
            &:hover {
                background: rgb(80, 96, 131);
            }
        }
        .button__shtab {
            display: flex;
            justify-content: center;
            padding-top: 150px;
        }
        .button__doc__shtab {
        position: absolute;
        display: none;
        font-weight: lighter;
        font-size: 14px;
        text-decoration: none;
        color: white;
        padding: 10px 30px;
        border-radius: 10px;
        background: #5099dd;
        cursor: pointer;
        }
    }
}
        .h__shtab {
            width: 1150px;
            font-size: 28px;
            font-weight: bold;
        }
        .p__shtab {
            width: 1150px;
            font-size: 17px;
            font-weight: normal;
        }
        .mail {
            cursor: pointer;
            text-decoration: none;
        }