p {
    background-color: transparent;
    color: #363636;
}

.conteiner3 {
    max-width: auto;
    height: 550px;
    background: #F7F8FA;
    display: flex;
    justify-content: center;
    .slider {
        display: flex;
        justify-content: center;
        max-width: 1200px;
        background-color: transparent;
        .text__slider {
            word-break: break-all;
            max-width: auto;
            padding-top: 150px;
            margin-left: 120px;
        }
            .title__slider {
                position: absolute;
                font-size: 30px;
            }
            .main__text__slider {
                max-width: auto;
                font-size: 16px;;
                padding-top: 180px;
                width: 400px;
                margin-bottom: 40px;
            }
            .button__slider {
                display: inline-block;
                font-weight: lighter;
                font-size: 14px;
                text-decoration: none;
                color: white;
                padding: 14px 60px;
                margin-right: 15px;
                border-radius: 60px;
                background: #5099dd;
                cursor: pointer;
                &:hover {
                    background: #2779c7;
                }
            }
        }
        .banners {
            padding-top: 120px;
            .slider__img {
                width: 100%;
                width: 850px;
            }
    }
}